.catalog {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.catalog__product {
  max-width: 760px;
  margin: 0 auto;
}

.catalog__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.23;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}

.catalog__product-description {
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  color: #777777;
}

@media (max-width: 1250px) {
  .catalog {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .catalog {
    padding-top: 60px;
    max-width: 720px;
    
    &__product-description,
    &__product-title {
      padding: 0 20px;
    }
    &__title {
      margin: 0;
      font-size: 28px;
    }
  }
}