.feedback__button {
  width: 245px;
  margin: 90px auto;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: transparent;
}