.header {
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 160px;
  height: 78px;
}

.header__contact {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.header__phone-part {
  display: flex;
  img {
    margin-right: 5px;
  }
}

.header__contact-info {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

.header__contact-info_addition {
  font-size: 14px;
  color: #716f6f;
}