.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 102px);
  background-image: url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__wrapper {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #000000;
  opacity: .4;
}

.hero__offer {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 500px;
  width: 100%;
  margin-bottom: 40px;
  margin-left: 50px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  text-transform: uppercase;
}